.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.signUp{
text-align: center;
  padding: 53px;
  margin: 1px;
  display: flex;
  justify-content: flex-start;
}

.userNameSp{
  border-width: 1px;
  border-radius: 47px;
  border-color: #969595;
  padding: 14px;
  margin: 10px 0px;
}

.passWordSp{
  border-width: 1px;
  border-radius: 47px;
  border-color: #969595;
  padding: 14px;
  margin: 10px 0px;
}

.passWordSp2{
  border-width: 1px;
  border-radius: 47px;
  border-color: #969595;
  padding: 14px;
  margin: 10px 0px;
}

.buttonSp{
  background-color: #7868E6;
  color: white;
  border-width: 1px;
  border-radius: 47px;
  border-color: #ffffff;
  padding: 14px;
  margin: 10px 0px;
}

.LogIn{
  padding: 5px;
  margin: 1px;
  display: flex;
  justify-content: flex-start;
}
.userNameLi{
  border-width: 1px;
  border-radius: 47px;
  border-color: #969595;
  padding: 14px;
  margin: 10px 0px;
}
.passWordLi{
  border-width: 1px;
  border-radius: 47px;
  border-color: #969595;
  padding: 14px;
  margin: 10px 0px;
}
.buttonLi{
  background-color: #7868E6;
  color: white;
  border-width: 1px;
  border-radius: 47px;
  border-color: #ffffff;
  padding: 14px;
  margin: 10px 0px;
}