.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

strong{
  color: #7868E6;
}

.signUp{
  font-weight: bolder;
  background-image: url('img/computadora2.0.png');
  /* background-color: rgba(241, 237, 237, 0.986); */
  background-repeat: no-repeat;
  background-size: cover;
  /* background-color: rgba(241, 237, 237, 0.603); */
  text-align: center;
  /* padding: 53px; */
  display: flex;
  justify-content: flex-start;
  padding: 155px 0 162px 55px;
  /* object-fit: cover; */

}

.imgSu{
  width: 30%;
  height: 30%;
}

.SignUpBody{
  border: 115px;
  border-color:black;
  border-radius: 30px;
  background-color: rgb(255, 255, 255);
  height: 100%;
  padding: 50px 60px 0px 60px;
}

.userNameSp{
  font-weight: bolder;
  text-align: center;
  border: solid 2px #ececec;
  border-radius: 47px;
  padding: 25px 75px;
  margin: 10px 0px;
  outline: none;
}

.buttonSp{
  border-width: 0;
  font-weight: bolder;
  background-color: #7868E6;
  color: white;
  border-radius: 47px;
  padding: 25px 115px;
  margin: 10px -8px;
  outline: none;
}

.yha{
  margin: 20px 0;
}


.logIn{
  font-weight: bolder;
  background-image: url('img/computadora2.0.png');
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  display: flex;
  justify-content: flex-start;
  padding: 90px 0 100px 5px;
}
  .logInBody{
  border: 115px;
  border-color:rgb(0, 0, 0);
  border-radius: 30px;
  background-color: rgb(255, 255, 255);
  height: 100%;
  padding: 20px 30px 0px 30px;
}
  .bro{
    margin: 20px 0;
  }
  .imgLi{
    width: 30%;
    height: 30%;
  }
  .userNameLi{
    text-align: center;
    border-width: 1px;
    border-radius: 47px;
    border-color: #969595;
    padding: 25px 75px;
    margin: 10px 0px;
    outline: none;
  }
  .passWordLi{
    text-align: center;
    border-width: 1px;
    border-radius: 47px;
    border-color: #969595;
    padding: 25px 75px;
    margin: 10px 0px;
    outline: none;
  }
  .buttonLi{
    font-weight: bolder;
    background-color: #7868E6;
    color: white;
    border-width: 0;
    border-radius: 47px;
    border-color: #ffffff;
    padding: 25px 95px;
    margin: 10px -8px;
    outline: none;
  }
  