body {
    background-color: #192336;
}

/*NAVBAR*/
.navbar {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: #192336;
    width: 100%;
    height: 7rem;
}
  
.inside-navbar {
    width: 80%;
    height: 100%;
    background-color: blue;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 20px 20px;
    background-color: white;
}
  
.right-navbar {
    display: flex;
    justify-content: flex-end;
    margin-top: 25px;
}
  
.right-navbar a {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    margin: 20px;
    color: #B3B3B3;
    cursor: pointer;
    text-decoration: none;
}

.right-navbar a:hover {
    color: #7868E6;
}

.right-navbar text {
    display: flex;
    flex: 1;
    margin-left: 2rem;
    align-items: center;
    font-size: 24px;
}

/*MESSAGES*/
.messages-body {
   /* background-color: red;*/
    margin: 0 22rem 0 22rem;
    height: 30rem;
    overflow-y: scroll;
}

.message-box {
    margin-top: 17rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #ffffff;
    height: 40px;
    border-radius: 40px;
    padding: 10px;
    width: 51rem;
}

.message-box:hover > .search-btn {
    background: #7868E6;
    color: #B8B5FC;
}

/*#B8B5FC - clarito*/
/*background: rgba(184, 181, 252, 0.5); - clarito*/
/*#7868E6 - fuerte*/

   
.search-btn {
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    cursor: pointer;
    background: #B8B5FC;
    color: #7868E6;
}
   
.message-txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: rgb(0, 0, 0);
    font-size: 14px;
    transition: 0.4s;
    line-height: 40px;
    width: 90%;
    font-weight: bold;
    margin-left: 20px;
}

/*EILEEN*/
/*colors: #B8B5FC */

.eileen-date text {
    color: white;
    font-size: 15px;
}

.square {
    background-color: #B8B5FC;
    width: 26rem;
    border-radius: 20px 20px 20px 5px;
}

.square text {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    font-size: 17px;
}

.empty {
    height: 20px;
}

/*MyMessages*/

.my-square {
    float: right;
}

.my-date text {
    color: white;
    font-size: 15px;
    float: right;
}

.square-mine .square {
    background-color: #7868E6;
    width: 26rem;
    border-radius: 20px 20px 5px 20px;
    float: right;
}

.square-mine .square text {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    font-size: 17px;
}