
/*MESSAGES*/
.messages-body {
   /* background-color: red;*/
    margin: 0 22rem 0 22rem;
    height: 30rem;
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.message-box {
    margin-top: 17rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #ffffff;
    height: 40px;
    border-radius: 40px;
    padding: 10px;
    width: 51rem;
}

.message-box:hover > .search-btn {
    background: #7868E6;
    color: #B8B5FC;
}

/*#B8B5FC - clarito*/
/*background: rgba(184, 181, 252, 0.5); - clarito*/
/*#7868E6 - fuerte*/
   
.search-btn {
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    cursor: pointer;
    background: #B8B5FC;
    color: #7868E6;
}
   
.message-txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: rgb(0, 0, 0);
    font-size: 14px;
    transition: 0.4s;
    line-height: 40px;
    width: 90%;
    font-weight: bold;
    margin-left: 20px;
}

/*EILEEN*/
/*colors: #B8B5FC */

.eileen-date text {
    color: white;
    font-size: 15px;
}

.square {
    background-color: #B8B5FC;
    width: 26rem;
    border-radius: 20px 20px 20px 5px;
}

.square text {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    font-size: 17px;
}

.empty {
    height: 20px;
}

/*MyMessages*/

.my-square {
    float: right;
}

.my-date text {
    color: white;
    font-size: 15px;
    float: right;
}

.square-mine .square {
    background-color: #7868E6;
    width: 26rem;
    border-radius: 20px 20px 5px 20px;
    float: right;
}

.square-mine .square text {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    font-size: 17px;
}

/*ScrollBar*/
/* width */
::-webkit-scrollbar {
    width: 3px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #192336; 
}
   
/* Handle */
::-webkit-scrollbar-thumb {
    background: white; 
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #7868E6; 
}

@media (max-width: 1300px) {
    .message-box {
        width: 42rem;
    }

    .message-txt {
        width: 80%;
    }

    .messages-body {
        margin: 0 19rem 0 19rem;
        height: 30rem;
        overflow-y: scroll;
    }
}

@media (max-width: 1100px) {
    .message-box {
        width: 37rem;
    }

    .message-txt {
        width: 80%;
    }

    .messages-body {
        margin: 0 15rem 0 15rem;
        height: 30rem;
        overflow-y: scroll;
    }
}

@media (max-width: 900px) {
    .message-box {
        width: 26rem;
    }

    .message-txt {
        width: 70%;
    }

    .messages-body {
        margin: 0 14rem 0 14rem;
        height: 30rem;
        overflow-y: scroll;
    }
}

@media (max-width: 850px) {
    .message-box {
        width: 33rem;
    }

    .message-txt {
        width: 70%;
    }

    .messages-body {
        margin: 0 9rem 0 9rem;
        height: 30rem;
        overflow-y: scroll;
    }
}

@media (max-width: 710px) {
    .message-box {
        width: 33rem;
    }

    .message-txt {
        width: 70%;
    }

    .messages-body {
        margin: 0 5rem 0 5rem;
        height: 30rem;
        overflow-y: scroll;
    }
}

@media (max-width: 590px) {
    .message-box {
        width: 30rem;
    }

    .message-txt {
        width: 70%;
    }

    .messages-body {
        margin: 0 3rem 0 3rem;
        height: 30rem;
        overflow-y: scroll;
    }
}
 

@media (max-width: 500px) {
    .message-box {
        width: 29rem;
    }

    .message-txt {
        width: 70%;
    }

    .messages-body {
        margin: 0 1rem 0 1rem;
        height: 30rem;
        overflow-y: scroll;
    }
}
  