.logIn{
    font-weight: bolder;
    background-image: url('../img/compuOpaco.png');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    display: flex;
    justify-content: flex-start;
    padding: 100px 0 86px 55px;
}

.logInBody{
    border: 115px;
    border-color:black;
    border-radius: 30px;
    background-color: rgb(255, 255, 255);
    height: 100%;
    padding: 30px 40px 0px 40px;
}

  
.bro{
    margin: 20px 0;
}

.imgLi{
    width: 30%;
    height: 30%;
}

.userNameLi{
    font-weight: bolder;
    text-align: center;
    border: solid 2px #ececec;
    border-radius: 47px;
    padding: 25px 75px;
    margin: 10px 0px;
    outline: none;
}

.buttonLi{
    border-width: 0;
    font-weight: bolder;
    background-color: #7868E6;
    color: white;
    border-radius: 47px;
    padding: 25px 115px;
    margin: 10px -8px;
    outline: none;
}

.heroName{
    text-transform: uppercase;
    line-height: 90px;
    color: white;
    font-size: 70px;
    padding: 0 100px 0 100px;
}

@media (max-width: 500px) {
    .logInBody{
        height: 100%;
        padding: 30px 40px 0px 40px;
    }
}