.signUp{
    font-weight: bolder;
    background-image: url('../img/compuOpaco.png');
    /* background-color: rgba(241, 237, 237, 0.986); */
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: rgba(241, 237, 237, 0.603); */
    text-align: center;
    /* padding: 53px; */
    display: flex;
    justify-content: flex-start;
    padding: 50px 0 25px 55px;
    /* object-fit: cover; */
}
.imgSu{
    width: 30%;
    height: 30%;
}
.SignUpBody{
    border: 115px;
    border-color:black;
    border-radius: 30px;
    background-color: rgb(255, 255, 255);
    padding: 50px 60px 0px 60px;
}

  .userNameSp{
    font-weight: bolder;
    text-align: center;
    border: solid 2px #ececec;
    border-radius: 47px;
    padding: 25px 75px;
    margin: 10px 0px;
    outline: none;
}
  
.userNameSp:focus {
    border-color: #7868E6;
}
  
.buttonSp{
    border-width: 0;
    font-weight: bolder;
    background-color: #7868E6;
    color: white;
    border-radius: 47px;
    padding: 25px 115px;
    margin: 10px -8px;
    outline: none;
    cursor: pointer;
}
  
.heroNames{
    font-weight: bolder;
    text-transform: uppercase;
    line-height: 80px;
    color: white;
    font-size: 60px;
    padding: 100px 100px 0 100px;
}
  
.yha{
    margin: 20px 0;
}

.yha a {
    text-decoration: none;
    color: #7868E6;
    font-weight: bold;
}

.yha text {
    color: #B3B3B3;
    font-weight: normal;
}

@media(max-width: 1310px) {
    .signUp{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
}


@media (max-width: 540px) {
    .signUp{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        margin: 10px;
        padding: 20px;
    }

    .heroNames{
        padding: 0;
        font-size: 50px;
    }

    .signUp{
        padding: 0;
    }
    
}